.imagelist {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0;
}
.loadmorebtn{
  
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loadmorebtn:hover {
  background-color: #45a049;
}
